# Node modules and dependencies
node_modules
npm-debug.log

# Build artifacts
.output
.nuxt
dist

# Git
.git
.gitignore

# Docker
.dockerignore
docker-compose.yml

# IDE
.vscode
.idea

# Logs
logs
*.log

# Cache
.npm
.cache

# Environment files, except for .env.production
.env.local
.env.development
.github
start.sh
scripts
snippets 