# Node modules and dependencies
node_modules
npm-debug.log

# Build artifacts
.output
.nuxt
dist

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Backend
backend/
server/

# IDE
.vscode
.idea

# Logs
logs
*.log

# Cache
.npm
.cache

.env
.github
start.sh
*.md 